body {
    background-color:  #eee ;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

h1, h2, h3 {
    margin: 0;
}

#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color:  #66ccff ;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 10px;
}

#nav {
    width: 180px;
    float: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
}

#nav.selected {
    font-weight: bold;
}

#main, #mainUser{
    width: 600px;
    float: right;
}

.name, .nameLarge{
    color: #457fdd;
    margin-left: 5px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
}

.name:hover, .nameLarge:hover{
    text-decoration: underline;
}

.nameLarge{
    font-size: 16px;
}

.article{
    padding: 5px;
    border-bottom: 1px solid #e2e2e2;
}

.article .title{
    font-weight: bold;
    display: inline-block;
}

.article .text{
    font-weight: lighter;
    padding-left: 30px;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: center;
}

#more, #moreUserPost, #moreUserAlbum {
    clear: both;
    padding: 10px;
    background-color: gray;
    color: white;
    text-align: center;
}

#more:hover, #moreUserPost:hover, #moreUserAlbum:hover
{
    cursor: pointer;
    background-color: burlywood;
    
}

#userDetails{
    border-bottom: 2px solid #ddd;
}

#userDetails .fullname{
    font-weight: bold;
    font-size: 1.5em;
}

#userDetails .fullname, #userDetails .username{
    display: inline-block;
    cursor:default;
}

#userDetails .username:hover{
    text-decoration: none;
}

#userDetails .addressDetails, #userDetails .companyDetails {
    padding: 15px;
    vertical-align: top;
    display: inline-block;
}

#userDetails .addressDetails li, #userDetails .companyDetails li{
    list-style-type: none;
}

#userDetails .addressDetails li:not(:first-child), #userDetails .companyDetails li:not(:first-child){
    margin: 0 0 3px 15px;
}

#modalView{
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    height: 100%;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

#modalImg{
    color: #666;
    width: 650px;
    height: 650px;
    position: absolute;
    text-align: center;
    background-color: #fff;
    top: calc(50vh - 325px);
    left: calc(50vw - 325px);
}

#main .image{
    margin: 5px;
    cursor: pointer;
    display: inline-block;
}

#modalImg div:first-child{
    margin: 5px 0 2px 0;
}

#closeModal{
    float: right;
    font-size: 2em;
    cursor: pointer;
    margin-right: 25px;
}

#closeModal:hover{
    color: #e2e2e2;
}

.album .title{
    font-weight: bold;
    margin: 5px 5px 0 5px;
    cursor: pointer;
    color: #67cdef;
}

.album .photo{
    display: inline-block;
    margin: 10px;
}

.album .title:hover{
    text-decoration: underline;
}

users:hover
{
    cursor: pointer;
}
